<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandi ke Bhav</title>
    <link rel="stylesheet" href="css/veg.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <style>
        .shopping {
            position: relative;
            text-align: right;
            width: 1000px;
            margin: auto;
            transition: 0.5s;
        }

        .shopping img {
            width: 40px;
            margin-right: -10px;
        }

        .shopping img:hover {
            cursor: pointer;
        }

        .shopping span {
            background: red;
            border-radius: 50%;
            color: #fff;
            position: absolute;
            top: -15px;
            padding: 3px 10px;
        }

        .card {
            position: fixed;
            top: 0;
            left: 100%;
            width: 500px;
            background-color: #add5dc;
            height: 100vh;
            transition: 0.5s;
        }

        .active .container {
            transform: translateX(-200px);
        }

        .active .card {
            left: calc(100% - 500px);
        }

        .card h1 {
            color: white;
            font-weight: 100;
            margin: 0;
            padding: 0 20px;
            height: 80px;
            display: flex;
            align-items: center;
        }

        .card .checkOut {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }

        .card .checkOut div {
            background-color: #9d9e82;
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            cursor: pointer;
            color: white;
        }

        .card .checkOut div:nth-child(2) {
            background-color: #c54848;
            color: #fff;
        }

        .listCard li {
            display: grid;
            grid-template-columns: 100px repeat(3, 1fr);
            color: white;
            row-gap: 10px;
        }

        .listCard li div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .listCard li img {
            width: 90%;
        }

        .listCard li button {
            background-color: #fff5;
            border: none;
        }

        .listCard .count {
            margin: 0 10px;
        }
    </style>
</head>

<body>
    {{> header }}

    <br>
    <div>
        <center>
            <h1
                style="color: #621111; font-size: 50px; font-family: cursive; width: 20%; float: left; position: relative; left: 40%; margin-bottom: 2%;">
                ~ Fruits ~
            </h1>
            <div class="shopping">
                <img src="css/images/cart.png">
                <span class="quantity">0</span>
            </div>
        </center>
    </div>
    <br>

    <div class="row_">

        <div class="block column">
            <div class="item-image">
                <img src="css/images/apple.jpg" alt="Apple">
            </div>
            <div class="detail">Apple <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[0].value = Number(document.getElementsByClassName('inp')[0].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[0].value = Number(document.getElementsByClassName('inp')[0].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/banana.jpg" alt="Banana">
            </div>
            <div class="detail">Banana <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[1].value = Number(document.getElementsByClassName('inp')[1].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[1].value = Number(document.getElementsByClassName('inp')[1].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/black grapes.jpg" alt="Black Grapes">
            </div>
            <div class="detail">Black Grapes <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[2].value = Number(document.getElementsByClassName('inp')[2].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[2].value = Number(document.getElementsByClassName('inp')[2].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/cherry.jpg" alt="Cherry">
            </div>
            <div class="detail">Cherry <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[3].value = Number(document.getElementsByClassName('inp')[3].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[3].value = Number(document.getElementsByClassName('inp')[3].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

    </div>

    <br>
    <div class="row_">

        <div class="block column">
            <div class="item-image">
                <img src="css/images/green grapes.jpg" alt="Green Grapes">
            </div>
            <div class="detail">Green Grapes <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[4].value = Number(document.getElementsByClassName('inp')[4].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[4].value = Number(document.getElementsByClassName('inp')[4].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/kiwi.jpg" alt="Kiwi">
            </div>
            <div class="detail">Kiwi <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[5].value = Number(document.getElementsByClassName('inp')[5].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[5].value = Number(document.getElementsByClassName('inp')[5].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/Mosambi.jpg" alt="Mosambi">
            </div>
            <div class="detail">Mosambi <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[6].value = Number(document.getElementsByClassName('inp')[6].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[6].value = Number(document.getElementsByClassName('inp')[6].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="css/item-image">
                <img src="images/musk melon.jpeg" alt="musk melon">
            </div>
            <div class="detail">Musk Melon <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[7].value = Number(document.getElementsByClassName('inp')[7].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[7].value = Number(document.getElementsByClassName('inp')[7].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>
    </div>

    <br>
    <div class="row_">

        <div class="block column">
            <div class="css/item-image">
                <img src="images/Orange.jpg" alt="Orange">
            </div>
            <div class="detail">Orange <br>₹50</div>
            <div class="btns">8
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[8].value = Number(document.getElementsByClassName('inp')[8].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[8].value = Number(document.getElementsByClassName('inp')[8].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/papaya.jpg" alt="Papaya">
            </div>
            <div class="detail">Papaya <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[9].value = Number(document.getElementsByClassName('inp')[9].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[9].value = Number(document.getElementsByClassName('inp')[9].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/pear.jpg" alt="Pear">
            </div>
            <div class="detail">Pear <br>₹50</div>
            <div class="btns">10
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[10].value = Number(document.getElementsByClassName('inp')[10].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[10].value = Number(document.getElementsByClassName('inp')[10].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    stylcss/e="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/pomegranate.jpg" alt="Pomegranate">
            </div>
            <div class="detail">Pomegranate <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[11].value = Number(document.getElementsByClassName('inp')[11].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[11].value = Number(document.getElementsByClassName('inp')[11].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

    </div>

    <br>

    <br>
    <div class="row_">

        <div class="block column">
            <div class="item-image">
                <img src="css/images/strawberry.jpg" alt="Strawberry">
            </div>
            <div class="detail">Strawberry <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[12].value = Number(document.getElementsByClassName('inp')[12].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[12].value = Number(document.getElementsByClassName('inp')[12].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

        <div class="block column">
            <div class="item-image">
                <img src="css/images/watermelon.jpg" alt="Watermelon">
            </div>
            <div class="detail">Watermelon <br>₹50</div>
            <div class="btns">
                <button class="qty"
                    onclick="document.getElementsByClassName('inp')[13].value = Number(document.getElementsByClassName('inp')[13].value)-1">-</button><input
                    type="text" value="1" class="inp"><button class="qty"
                    onclick="document.getElementsByClassName('inp')[13].value = Number(document.getElementsByClassName('inp')[13].value)+1">+</button>
                <br>
                <button onclick="addcart()"
                    style="cursor: pointer; background-color: white; width: 56%; height: 25px; border: 1px solid #5d9508;">Add
                    to Cart</button>
            </div>
        </div>

    </div>

    <br>

    <div class="card">
        <h1>Cart</h1>
        <ul class="listCard">
        </ul>
        <div class="checkOut">
            <div class="total">₹0</div>
            <div class="closeShopping">Close</div>
        </div>
    </div>

    <script>
        let body = document.querySelector('body');
        let openShopping = document.querySelector('.shopping');
        let closeShopping = document.querySelector('.closeShopping');

        openShopping.addEventListener('click', () => {
            body.classList.add('active');
        })
        closeShopping.addEventListener('click', () => {
            body.classList.remove('active');
        })

    </script>

    {{> footer }}
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        let searchbtn = document.querySelector('.searchbtn');
        let closebtn = document.querySelector('.closebtn');
        let SearchBox = document.querySelector('.SearchBox');
        let navigation = document.querySelector('.navigation');
        let menuToggle = document.querySelector('.menuToggle');
        let header = document.querySelector('header');

        searchbtn.onclick = function () {
            SearchBox.classList.add('active');
            closebtn.classList.add('active');
            searchbtn.classList.add('active');
            menuToggle.classList.add('hide');
            header.classList.remove('open');
        }

        closebtn.onclick = function () {
            SearchBox.classList.remove('active');
            closebtn.classList.remove('active');
            searchbtn.classList.remove('active');
            menuToggle.classList.remove('hide');
        }

        menuToggle.onclick = function () {
            header.classList.toggle('open');
            SearchBox.classList.remove('active');
            closebtn.classList.remove('active');
            searchbtn.classList.remove('active');
        }    
    </script>
</body>

</html>
