<link rel="stylesheet" href="css/header.css">
<header>
    <img src="css/images/logo1.png" alt="logo" class="logo">
    <div class="group">
        <ul class="navigation">
            <li><a href='/'>Home</a></li>
            <li><a href="trends">Trends</a></li>
            <div class="dropdown">
                <button class="dropbtn">Shop
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="vegetables">Vegetable</a>
                    <a href="fruits">Fruits</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Account
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <button id = "locate">Location</button>
                    {{#if isAuthenticated}}
                    <a href="logout">Logout</a>
                    {{else}}
                    <a href="login">Login</a>
                    {{/if}}
                </div>
            </div>
        </ul>
        <div class="search">
            <span class="icon">
                <ion-icon name="search-outline" class="searchbtn"></ion-icon>
                <ion-icon name="close-outline" class="closebtn"></ion-icon>
            </span>
        </div>
        <ion-icon name="menu-outline" class="menuToggle"></ion-icon>
    </div>
    <div class="SearchBox">
        <input type="text" placeholder="Search Your Item" id="item">
    </div>
</header>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
    let searchbtn = document.querySelector('.searchbtn');
    let closebtn = document.querySelector('.closebtn');
    let SearchBox = document.querySelector('.SearchBox');
    let navigation = document.querySelector('.navigation');
    let menuToggle = document.querySelector('.menuToggle');
    let header = document.querySelector('header');

    searchbtn.onclick = function () {
        SearchBox.classList.add('active');
        closebtn.classList.add('active');
        searchbtn.classList.add('active');
        menuToggle.classList.add('hide');
        header.classList.remove('open');
    }

    closebtn.onclick = function () {
        SearchBox.classList.remove('active');
        closebtn.classList.remove('active');
        searchbtn.classList.remove('active');
        menuToggle.classList.remove('hide');
    }

    menuToggle.onclick = function () {
        header.classList.toggle('open');
        SearchBox.classList.remove('active');
        closebtn.classList.remove('active');
        searchbtn.classList.remove('active');
    }    
</script>
