.group {
    display: flex;
    align-items: center;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: static;
    height: 80px;
    background: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    float: left;
    width: 11%;
}

header ul {
    position: relative;
    display: flex;
    gap: 30px;
}

header ul li {
    list-style: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1em;
    border: none;
    outline: none;
    color: #621111;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #621111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1em;
}

.dropdown-content button {
    float: none;
    color: #621111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1em;
    border : none;
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}


header ul li a {
    position: relative;
    text-decoration: none;
    font-size: 1em;
    color: #621111;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

header ul li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #621111;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

header ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

header .search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    cursor: pointer;
}

.SearchBox {
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background: #ffffff;
    align-items: center;
    padding: 0 30px;
    transition: 0.5s ease-in-out;
}

.SearchBox.active {
    right: 0;
}

.SearchBox input {
    width: 100%;
    border: none;
    outline: none;
    height: 40%;
    color: #0c0c0c;
    font-size: 1.25em;
    border-bottom: 1px solid #621111;
}

.searchbtn {
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}

.searchbtn.active {
    left: 0;
}

.closebtn {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}

.closebtn.active {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}

.menuToggle {
    position: relative;
    display: none;
}

@media (max-width: 800px) {

    .searchbtn {
        left: 0;
    }

    .menuToggle {
        position: absolute;
        display: block;
        font-size: 2em;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }

    header .navigation {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 100%;
    }

    header.open .navigation {
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 80px);
        padding: 40px;
        border-top: 1px solid rgb(98, 17, 17);
    }

    header.open .navigation li a {
        font-size: 1.25em;
    }

    .hide {
        display: none;
    }
}
